﻿@model SportStore.Domain.Entities.ShippingDetails
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<div class="page-header" ">
    <h3>Thông tin giao hàng</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label class=" control-labelcol-sm-3" for="FirstName">Họ đệm</label>
        </div>
        <p class="help-block">@Html.ValidationMessageFor(x => x.FirstName)</p>
        <div class="form-group">
            <label class=" control-labelcol-sm-3" for="LastName">Tên</label>
        </div>
        <p class="help-block">@Html.ValidationMessageFor(x => x.LastName)</p>
        <div class="form-group">
            <label class=" control-labelcol-sm-3" for="Email">Email</label>
        </div>
        <p class="help-block">@Html.ValidationMessageFor(x => x.Email)</p>
        <div class="form-group">
            <label class=" control-labelcol-sm-3" for="SDT">Số điện thoại</label>
        </div>
        <p class="help-block">@Html.ValidationMessageFor(x => x.Phone)</p>
        <div class="form-group">
            <label class=" control-labelcol-sm-3" for="Address">Địa chỉ</label>
        </div>
        <p class="help-block">@Html.ValidationMessageFor(x => x.Address)</p>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">
                    Hoàn tất đặt hàng
                </button>
            </div>
        </div>
}
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


