﻿@model SportsStore.Domain.Entities.Cart
@{
    ViewBag.Title = "Your Cart";
}

<div class="page-header">
    <h3>Giỏ hàng của bạn</h3>
</div>
<table class="table table-bordered table table-striped">
    <tr>
        <td>Sản phẩm</td>
        <td>Đơn giá</td>
        <td>Số lượng</td>
        <td>Thành tiền</td>
        <td></td>
    </tr>
    @foreach (var line in Model.LineCollection)
    {
        <tr>
            <td>@line.Product.ProductName</td>
            <td>@line.Product.Price</td>
            <td>
                <div class="row">
                    <div class="col-sm-3">
                        <a href="#" class="btn btn-default">
                            <i class="glyphicon glyphicon-minus btn-down"></i>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        @*<input class="form-control" value="@line.Quantity" type="number"/>*@
                        <label class="control-label" data-price="@line.Product.Price" data-product-id="@line.Product.ProductID">@line.Quantity</label>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="btn btn-default">
                            <i class="glyphicon glyphicon-plus btn-up"></i>
                        </a>
                    </div>
                </div>
            </td>
            <td class="total">@(line.Quantity * line.Product.Price)</td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart", FormMethod.Post))
                {
                    <input type="hidden" value="@line.Product.ProductID" name="ProductID" />
                    <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl" />
                    <button type="submit" class="btn btn-warning">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                }
            </td>
        </tr>
    }
    <tr>
        <td colspan="3">
            Tổng tiền:
        </td>
        <td class="subtotal"
            data-total="@Model.ComputeTotal()">
            @Model.ComputeTotal()
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="@ViewBag.ReturnUrl" class="btn btn-block bg-primary">Tiếp tục mua hàng</a>
        </td>
        <td colspan="2">
            <a href="#" class="btn btn-block bg-danger">Thanh toán</a>
        </td>
    </tr>
</table>

@section scripts{
<script>
        function updateSubTotal(delta, isUp = false) {
            const subTotal = $('.subtotal');
            let val = parseInt($(subTotal).data('total'));

            if (isUp) {
                val += delta;
            }
            else {
                val -= delta;
            }

            $(subTotal).data('total', val).text(val);
            //updateSubTotal(price, false);
        };

        $(document).ready(function () {
            $('.btn-down').click(function (e) {
                e.preventDefault();

                const lbl = $(this).closest('.row').find('.control-label');

                let val = parseInt($(lbl).text());
                val -= 1;
                if (val >= 0) {
                    let pId = $(lbl).data('productId');
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("UpdateQuantityOfItem", "Cart")',
                        data: {
                            'ProductId': pId,
                            'Quantity': val
                        },
                        susscess: function (res) {
                            if (res === 1) {
                                //so luong
                                $(lbl).text(val);
                                //thanh tien
                                let price = $(lbl).data('price');
                                const td = $(this).closest('tr').find('.total');
                                $(td).text(val * price);
                                updateSubTotal(price, false);
                            }
                            else {
                                alert('Khong ton tai Product nay');
                            }
                        },
                        error: function (err) {
                            console.log(err);
                            alert('Co loi xay ra');
                        }
                    });
                }
                else {
                    alert('So luong da bang 0')
                }
            });

            $('.btn-up').click(function (e) {
                e.preventDefault();

                const lbl = $(this).closest('.row').find('.control-label');

                let val = parseInt($(lbl).text());
                //so luong
                val += 1;
                let pId = $(lbl).data('productId');
                $.ajax({
                        type: 'POST',
                        url: '@Url.Action("UpdateQuantityOfItem", "Cart")',
                        data: {
                            'ProductId': pId,
                            'Quantity': val
                        },
                        susscess: function (res) {
                            if (res === 1) {
                                //so luong
                                $(lbl).text(val);
                                //thanh tien
                                let price = $(lbl).data('price');
                                const td = $(this).closest('tr').find('.total');
                                $(td).text(val * price);
                                updateSubTotal(price, true);
                            }
                            else {
                                alert('Khong ton tai Product nay');
                            }
                        },
                        error: function (err) {
                            console.log(err);
                            alert('Co loi xay ra');
                        }
                    });
                
            });
        });
</script>>
}