﻿@model SportsStore.Domain.Entities.Product
@{
    ViewBag.Title = "Chi tiết " + Model.ProductName;
}
<div class="page-header">
    <h3>@Model.ProductName</h3>
</div>
<table class="table table-bordered table-striped">
    <tr>
        <td>
            Giá
        </td>
        <td>
            @Model.Price
        </td>
    </tr>
    <tr>
        <td>
            Số lượng
        </td>
        <td>
            @Model.Amount
        </td>
    </tr>
</table>
<hr />
@Html.Raw(Model.Description);