﻿@model List<SportsStore.Domain.Entities.Category>

<ul class="list-group">
    <li class="list-group-item">
        <a href="@Url.Action("Index", "Product")">
            Tất cả
        </a>
    </li>
    @foreach (var category in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action("Index", "Product", new { category = category.CategoryID })">
                @category.CategoryName
            </a>
        </li>
    }
</ul>
