﻿@model SportStore.WebUI.Models.ProductIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h3>Product List</h3>
</div>
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-xs-12 col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="@product.ImgUrl" class="img-thumbnail" />
                    <h3 class="product-title">
                        @product.ProductName
                    </h3>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">@product.Price.ToString("C")</div>
                        <div class="col-xs-12 col-sm-6">
                            <a href="@Url.Action("Details","Product", new { id = product.ProductID })">Chi tiết</a>
                            @using (Html.BeginForm("AddTocart", "Cart", FormMethod.Post))
                            {
                                <input type="hidden" value="@product.ProductID" name="ProductID" />
                                <input type="hidden" value="@Request.Url.PathAndQuery" name="ReturnUrl" />
                                <button type="submit" class="btn btn-info">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-xs-12">
        @Html.PageLink(Model.PagingInfo, x => Url.Action("Index", "Product", new { page = x, category = ViewBag.CategoryId }))
    </div>
</div>