﻿@model SportStore.WebUI.Models.CustomerIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h3>Product List</h3>
</div>
<div class="row">
    @foreach (var customer in Model.Customer)
    {
        <div class="col-xs-12 col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="@customer.Avatar" class="img-thumbnail" />
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <h3>@customer.CustomerName</h3>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-xs-12">
        @Html.PageLink(Model.PagingInfo, x => Url.Action("Index", "Customer", new { page = x, category = ViewBag.CategoryId }))
    </div>
</div>

